.mediaViewInfo {
	--web-view-name: rahn;
	--web-view-id: rahn;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: rahn;
}
* {
	margin: 0;
	padding: 0;
}
#rahn {
	position: absolute;
	box-sizing: border-box;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	background: #E5E5E5;
	width: 1920px;
	height: 5689px;
	background-color: rgba(250,250,250,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: rahn;
	--web-view-id: rahn;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1104px;
	left: 0px;
	top: 3593px;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 960px;
	height: 1080px;
	left: 960px;
	top: 0px;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 458px;
	left: 0px;
	top: 1872px;
}
#Rahn {
	position: absolute;
	left: 277px;
	top: 416px;
	overflow: hidden;
	width: 234px;
	height: 57px;
	line-height: 80px;
	margin-top: -16px;
	text-align: left;
	font-family: Europa-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#gold_loans_made_easy_ {
	position: absolute;
	left: 277px;
	top: 483px;
	overflow: hidden;
	width: 502px;
	height: 32px;
	line-height: 45px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Europa-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(44,156,213,1);
}
#Team {
	position: absolute;
	left: 277px;
	top: 625px;
	overflow: hidden;
	width: 91px;
	height: 27px;
	line-height: 80px;
	margin-top: -25px;
	text-align: left;
	font-family: Europa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Project_Brief {
	position: absolute;
	left: 416px;
	top: 1205px;
	overflow: hidden;
	width: 634px;
	height: 32px;
	line-height: 45px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Europa-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Introduction {
	position: absolute;
	left: 416px;
	top: 1480px;
	overflow: hidden;
	width: 634px;
	height: 31px;
	line-height: 45px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Europa-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#The_Solution {
	position: absolute;
	left: 416px;
	top: 2480px;
	overflow: hidden;
	width: 634px;
	height: 31px;
	line-height: 45px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Europa-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Previous_Offering {
	position: absolute;
	left: 416px;
	top: 4851px;
	overflow: hidden;
	width: 634px;
	height: 31px;
	line-height: 45px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Europa-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#ALEX_THORBURN_WINSOR {
	position: absolute;
	left: 140px;
	top: 60px;
	overflow: visible;
	width: 450px;
	height: 29px;
	text-align: left;
	font-family: Europa-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Resume {
	position: absolute;
	left: 1676px;
	top: 64px;
	overflow: hidden;
	width: 105px;
	height: 22px;
	text-align: right;
	font-family: Europa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#About {
	position: absolute;
	left: 1548px;
	top: 64px;
	overflow: visible;
	width: 84px;
	height: 22px;
	text-align: right;
	font-family: Europa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Work {
	position: absolute;
	left: 1418px;
	top: 64px;
	overflow: visible;
	width: 76px;
	height: 22px;
	text-align: right;
	font-family: Europa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.ID0 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 195px;
	left: 277px;
	top: 667px;
}
.download_copy {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 195px;
	left: 507px;
	top: 667px;
}
#Lorem_ipsum_dolor_sit_amet__co {
	position: absolute;
	left: 416px;
	top: 1277px;
	overflow: hidden;
	width: 1089px;
	height: 103px;
	line-height: 36px;
	margin-top: -6px;
	text-align: left;
	font-family: Europa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Lorem_ipsum_dolor_sit_amet__co_A2_Text_13 {
	position: absolute;
	left: 416px;
	top: 1551px;
	overflow: hidden;
	width: 1089px;
	height: 171px;
	line-height: 36px;
	margin-top: -6px;
	text-align: left;
	font-family: Europa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Lorem_ipsum_dolor_sit_amet__co_A2_Text_14 {
	position: absolute;
	left: 416px;
	top: 2551px;
	overflow: hidden;
	width: 1089px;
	height: 125px;
	line-height: 36px;
	margin-top: -6px;
	text-align: left;
	font-family: Europa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Lorem_ipsum_dolor_sit_amet__co_A2_Text_15 {
	position: absolute;
	left: 416px;
	top: 4922px;
	overflow: hidden;
	width: 1089px;
	height: 125px;
	line-height: 36px;
	margin-top: -6px;
	text-align: left;
	font-family: Europa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Lorem_ipsum_dolor_sit_amet__co_A2_Text_16 {
	position: absolute;
	left: 416px;
	top: 3337px;
	overflow: hidden;
	width: 1089px;
	height: 106px;
	line-height: 36px;
	margin-top: -6px;
	text-align: left;
	font-family: Europa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Mask_Group_6 {
	position: absolute;
	width: 883.88px;
	height: 855.735px;
	left: 998.06px;
	top: 156.07px;
	overflow: visible;
}
#We_provide_a_system_under_whic {
	position: absolute;
	left: 433.5px;
	top: 2061px;
	overflow: hidden;
	width: 1055px;
	height: 80px;
	line-height: 40px;
	margin-top: -5px;
	text-align: center;
	font-family: Europa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
.ID1 {
	position: absolute;
	overflow: visible;
	width: 484px;
	height: 684px;
	left: 130px;
	top: 3952px;
}
.ID2 {
	position: absolute;
	overflow: visible;
	width: 484px;
	height: 684px;
	left: 424px;
	top: 3952px;
}
.ID4 {
	position: absolute;
	overflow: visible;
	width: 484px;
	height: 684px;
	left: 718px;
	top: 3952px;
}
.ID5 {
	position: absolute;
	overflow: visible;
	width: 484px;
	height: 684px;
	left: 1012px;
	top: 3952px;
}
.ID3 {
	position: absolute;
	overflow: visible;
	width: 484px;
	height: 684px;
	left: 1306px;
	top: 3952px;
}
#We_offer_a_unique_digital_aspe {
	position: absolute;
	left: 385.5px;
	top: 3869px;
	overflow: hidden;
	width: 1150px;
	height: 34px;
	line-height: 45px;
	margin-top: -7.5px;
	text-align: center;
	font-family: Europa-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Group_9 {
	position: absolute;
	width: 776px;
	height: 554px;
	left: 594px;
	top: 2729px;
	overflow: visible;
}
.goldcube {
	position: absolute;
	overflow: visible;
	width: 776px;
	height: 554px;
	left: 0px;
	top: 0px;
}
#Lorem_ipsum_dolor_sit_amet__co_A2_Text_19 {
	position: absolute;
	left: 416px;
	top: 5262px;
	overflow: hidden;
	width: 1089px;
	height: 125px;
	line-height: 36px;
	margin-top: -6px;
	text-align: left;
	font-family: Europa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Lorem_ipsum_dolor_sit_amet__co_A2_Text_20 {
	position: absolute;
	left: 416px;
	top: 5057px;
	overflow: hidden;
	width: 1089px;
	height: 195px;
	line-height: 36px;
	margin-top: -6px;
	text-align: left;
	font-family: Europa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}